{% extends "base.html.twig" %}

{% block body %}

    <h1>Creation formulaire en symfony</h1>

    <form action="" method="POST">
        <input type="text" name="Titre" placeholder="Titre de l'article"/></br>
        </br><input type="text" name="Titre" placeholder="Titre de l'article"/>

      <button type="Submit">Lancer</button>  
    </form>

{% endblock %}