{% extends 'base.html.twig' %}

{% block title %}Impression{% endblock %}

{% block body %}
     
     <a href="{{ path('app_homepage')}}"><button onload="window.print()">imprimer</button></a>
{% endblock %}

